<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hackathon-Update</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  </head>
  <body>
    <style>
      button, a, p{
        font-family: Georgia, serif;
      }
    </style>
    <div class="container">
      <nav>
        <figure>
            <blockquote class="blockquote">
              <p><strong>HackFolio</strong></p>
              <a href="http://127.0.0.1:8000/" class="btn btn-primary">Home</a>
            </blockquote>
            <figcaption class="blockquote-footer" style="color: white;">
              One stop for all your hackathons <cite title="Source Title">Hackfolio</cite>
            </figcaption>
          </figure>
      </nav>
      
      <div>
        <p>Connect: <a href="https://www.linkedin.com/in/dhananjay-pai/" class="btn btn-primary" tabindex="-1" role="button" aria-disabled="true">LinkedIn</a> </p>
      </div>
        <br>
        {% if status == 0 %}
        <div class="alert alert-danger" role="alert">
            Something went wrong 
          </div>
        {% elif status == 1 %}
          <div class="alert alert-success" role="alert">
              Hackathon Added 
            </div>
        {% endif %}
        <div class="card mb-3">
          <form method="POST" action="/update/{{data.id}}/" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="input-group mb-3">
                <input value='{{data.title}}' name='title' type="text" class="form-control" placeholder="Title" aria-label="Recipient's username" aria-describedby="basic-addon2">
                <span class="input-group-text" id="basic-addon2">Title</span>
              </div>
    
              <div class="input-group mb-3">
                <input value='{{data.description}}' name='description' type="text" class="form-control" placeholder="Description" aria-label="Recipient's username" aria-describedby="basic-addon2">
                <span class="input-group-text" id="basic-addon2">Description</span>
              </div>

              <div class="input-group mb-3">
                <input value='{{data.reward_prize}}' name='reward' type="text" class="form-control" placeholder="Reward Prize" aria-label="Recipient's username" aria-describedby="basic-addon2">
                <span class="input-group-text" id="basic-addon2">Prize</span>
              </div>

              <div class="input-group mb-3">
                <input value='{{data.start_datetime}}' name='start_datetime' type="text" class="form-control" placeholder="Start Date" aria-label="yyyy-mm-dd HH:MM" aria-describedby="basic-addon2">
                <span class="input-group-text" id="basic-addon2">Hackathon Start Date time</span>
              </div> 
              
              <div class="input-group mb-3">
                <input value='{{data.end_datetime}}' name='end_datetime' type="text" class="form-control" placeholder="End Date" aria-label="yyyy-mm-dd HH:MM" aria-describedby="basic-addon2">
                <span class="input-group-text" id="basic-addon2">Hackathon End Date time</span>
              </div> 

              <div class="input-group mb-3">
                <input value='{{data.submission}}' name='submission' type="text" class="form-control" placeholder="End Date" aria-label="yyyy-mm-dd HH:MM" aria-describedby="basic-addon2">
                <span class="input-group-text" id="basic-addon2">Submissions</span>
              </div>

              <div class="input-group mb-3">
                <input value='{{data.bg_img}}' name="bg_img" type="file" class="form-control" id="inputGroupFile02">
                <label class="input-group-text" for="inputGroupFile02">Background Image</label>
              </div>

              <div class="input-group mb-3">
                <input value='{{data.hackathon_img}}' name="hackathon_img" type="file" class="form-control" id="inputGroupFile02">
                <label class="input-group-text" for="inputGroupFile02">Hackathon Image</label>
              </div>

              <button type="submit" class="btn btn-outline-primary">Submit</button>
          </form>
          <br>
        </div>
  
    </div>
    <style>
      button, a, p, h5 {
        font-family: Georgia, serif;
        color: white;
      }
      body {
        background-image: url("https://www.wallpapertip.com/wmimgs/82-825008_high-resolution-background-image-for-website.jpg");
        
      }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
  </body>
</html>